.botao-voltar {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: none;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.botao-voltar:hover {
  background-color: black;
  color: white;
}
