.container-menu {
  width: 240px;
  background: white;
  position: fixed;
  height: 100vh;
  padding: 0 30px;
  transition: all 1s;
  top: 0;
  left: 0;
  z-index: 3;
}


ul{
    padding: 10vh;
    

}

ul li{
    list-style-type: none;
    padding: 0.5vh;
}

ul li a{
    color:black;
    font-size: 16px;
    text-decoration: none;
}

.nav-link.active {
    color: #000;
    font-weight: bold; 
    left: 0.6vh;
     align-items: center; 
    gap: 8px;     
    display: flex;

}

.icon-historico{
    margin-right: 0.4vh;
}

.botao-menu{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 4;
}
