.container-menu{
    width: 240px;
    background: '#';
    position: fixed;
    height: 100vh;
    padding: 0 30px;
    transition: all 1s;
    top: 0;
    left: 0;

}

ul{
    padding: 0;

}

ul li{
    list-style-type: none;
}

ul li a{
    color:black;
    font-size: 16px;
    text-decoration: none;
}