@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');
.svg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   flex-direction: column;
  padding-top: 30px;
  gap: 10px;
}

.organicoum,
.organicodois {
  position: absolute;
  z-index: 0;
   /* reduz opacidade para não brigar com conteúdo */
}

.organicoum {
  top: 0;
  left: 0;
}

.organicodois {
  bottom: 0;
  right: 0;
}


.mes{
  font-weight: 400;
  font-family: 'Jost';
  justify-content: center;
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
}

.add-emotion-button {
  margin-top: -10px;
  background-color: #F7CD42;
  color: white;
  border: none;
  border-radius: 30px;
  width: 80px;
  height: 48px;
  font-size: 28px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
   z-index: 2;
   top: 650px;
   position: absolute;
}

.add-emotion-button:hover {
  background-color: #F2D472;
}

.botao-menu{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}