@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

.nome-pagina{
    font-family: "Jost";
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}